* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  width: 95vw;
  height: 100vh;
  margin: 0;
  background: linear-gradient(262deg, #ff7854, #fd267d);
  display: flex;
  flex-wrap: wrap;
}

#headerContainer {
  display: flex;
  width: 100%;
  height: 250px;
  justify-content: space-around;
}

#headerContainer > p {
  color: white;
  margin: 80px;
}

button {
  color: #494949 !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  padding: 20px;
  border: 4px solid #494949 !important;
  display: inline-block;
  transition: all 0.4s ease 0s;
  margin-left: 30px;
  margin-top: 100px;
}

button:hover {
  color: #ffffff !important;
  background: #ff7854;
  border-color: #ff7854 !important;
  transition: all 0.4s ease 0s;
}

/*the whole game area */
#gameArea {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*game container */
.gameContainer {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-template-rows: auto auto auto;
  grid-gap: 9px;

  width: 70%;
  height: 90%;
}

/* stats */
.gameStats {
  color: #ff7854;
  background-color: white;
  padding: 60px;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 3rem;
  margin-left: 5rem;
}

.cardImage {
  max-width: 100%;
  max-height: 100%;
  justify-self: stretch;
  position: relative;
  border-style: outset;
  border-radius: 10px;
}

.cardImage img {
  width: 100%;
  height: 100%;
}

.matchedCards {
  max-width: 100%;
  max-height: 100%;
  position: relative;
  border-style: outset;
  border-radius: 10px;
}

.matchedCards img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.image1,
.image2,
.image3,
.back,
.lastImage {
  height: 100%;
  width: 100%;

  position: absolute;
  left: 0;
  cursor: pointer;
}

.matchedImg {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 9999;
  opacity: 0.5;
}

.matchesLog,
.triesLog {
  display: inline-block;
  color: black;
  font-size: 36px;
  text-indent: 120px;
}

h1 {
  line-height: 5;
  color: black;
}

/*  the header */
#headerContainer {
  width: 100%;
  height: 20%;
  font-size: 22px;
  font-style: "candara";
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: right;
}

h1 {
  color: white;
}

.tinderLogo {
  object-fit: contain;
  height: 150px;
  float: left;
}

@media only screen and (max-width: 768px) {
  .gameStats {
    display: none;
  }

  .gameContainer {
    width: 100%;
    margin-left: 3rem;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto auto auto;
  }
}
